{
  "presets": ["es2015", "stage-3"],
  "plugins": [
    "transform-async-to-generator",
    ["transform-runtime", {
      "regenerator": true
      }
    ],
    "syntax-async-functions",
    "dot-dot-slash"
  ]
}
